In [1]:
import pandas as pd
import numpy as np

## CARTAS

### Parámetros relevantes

- **dbfId**: El identificador de la carta que se usará para identificar su uso en los mazos.
- **playerClass**: La clase a la que corresponde la carta (puede ser neutral o cualquiera de las 9 clases disponibles).
- **race**: Raza del esbirro (ej: 'ELEMENTAL', 'MECH', 'MURLOC').
- **rarity**: Rareza de la carta: ['FREE','COMMON','RARE','EPIC','LEGENDARY']

In [2]:
#Leemos el JSON de las cartas
df_cards = pd.read_json("Data/cards.json")

In [3]:
#Eliminamos los parámetros no relevantes
df_cards.drop('artist', axis=1, inplace=True) #Nombre del artista
df_cards.drop('flavor', axis=1, inplace=True) #Descripción de la carta en la colección
df_cards.drop('referencedTags', axis=1, inplace=True) #Etiquetas referenciales
df_cards.drop('elite', axis=1, inplace=True) #Bandera que indica si son cartas élite o no (todas las marcadas son legendarias)
df_cards.drop('id', axis=1, inplace=True) #Id por set (no se usa en los mazos)
df_cards.drop('hideStats', axis=1, inplace=True) #Bandera que define si se muestra la salud y el ataque
df_cards.drop('howToEarn', axis=1, inplace=True) #Descripción de cómo ganar una a dos copias de la carta
df_cards.drop('howToEarnGolden', axis=1, inplace=True) #Descripción de cómo ganar una a dos copias de la carta en dorado
df_cards.drop('faction', axis=1, inplace=True) #¿El personaje simpatiza con la Alianza o la Horda?
df_cards.drop('targetingArrowText', axis=1, inplace=True) #Texto que aparece cuando se va a seleccionar un objetivo
df_cards.drop('overload', axis=1, inplace=True) #Sobrecarga (cristales de maná bloquedos para el siguiente turno. Se sobreen-
                                                #tiende en el texto)
df_cards.drop('collectionText', axis=1, inplace=True) #Texto alternativo
df_cards.drop('playRequirements', axis=1, inplace=True) #Requisitos para jugar la carta
df_cards.drop('classes', axis=1, inplace=True) #Caso para las cartas tri-clase
df_cards.drop('multiClassGroup', axis=1, inplace=True) #Caso para las cartas tri-clase
df_cards.drop('entourage', axis=1, inplace=True)
#df_cards.drop('collectible', axis=1, inplace=True) #Bandera que define si la carta es coleccionable. Se sobreentiende
df_cards.drop('attack', axis=1, inplace=True) #
df_cards.drop('health', axis=1, inplace=True) #
df_cards.drop('durability', axis=1, inplace=True) #
df_cards.drop('spellDamage', axis=1, inplace=True) #
df_cards.drop('text', axis=1, inplace=True) #

df_cards.rename(columns={'dbfId':'id'}, inplace=True)
df_cards['id'].fillna(0, inplace=True) #Eliminar después
df_cards['id'] = df_cards['id'].astype(int)
df_cards['cost'].fillna(0, inplace=True)
df_cards['cost'] = df_cards['cost'].astype(int)
df_cards['collectible'].fillna(False, inplace=True)
df_cards['collectible'] = df_cards['collectible'].astype(bool)

#Actualizamos el índice de cada registro
df_cards.index = np.arange(0, len(df_cards))
#Eliminamos los parámetros que tienen pocos valores, a excepción de algunos muy relevantes
print(df_cards.info())
df_cards.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3117 entries, 0 to 3116
Data columns (total 11 columns):
cardClass      3114 non-null object
collectible    3117 non-null bool
cost           3117 non-null int32
id             3117 non-null int32
mechanics      1061 non-null object
name           3116 non-null object
playerClass    3114 non-null object
race           435 non-null object
rarity         1598 non-null object
set            3116 non-null object
type           3116 non-null object
dtypes: bool(1), int32(2), object(8)
memory usage: 246.6+ KB
None

,cardClass,collectible,cost,id,mechanics,name,playerClass,race,rarity,set,type
0,NEUTRAL,True,4,2518,NaN,Crowd Favorite,NEUTRAL,NaN,EPIC,TGT,MINION
1,NEUTRAL,False,6,1769,NaN,Ben Thompson,NEUTRAL,NaN,LEGENDARY,CREDITS,MINION
2,NEUTRAL,False,0,10081,NaN,Deviate Switch,NEUTRAL,NaN,NaN,TB,ENCHANTMENT
3,WARRIOR,True,3,40569,[BATTLECRY],Grimestreet Pawnbroker,WARRIOR,NaN,RARE,GANGS,MINION
4,NEUTRAL,True,4,1370,NaN,Oasis Snapjaw,NEUTRAL,BEAST,FREE,CORE,MINION

## MAZOS

### Parámetros relevantes

In [4]:
#Leemos el CSV de las mazos
df_decks = pd.read_csv('Data/decks.csv')

In [5]:
#Sólo nos interesan los mazos de formato normal (sólo Estándar y Salvaje)
df_decks = df_decks[(df_decks.deck_type == 'Ranked Deck') | (df_decks.deck_type == 'Tournament')]
df_decks = df_decks[df_decks.deck_format == 'S']

In [6]:
#Eliminamos los parámetros no relevantes
df_decks.drop('deck_type', axis=1, inplace=True) #Tipo de mazo. Todos son mazos competitivos
df_decks.drop('deck_format', axis=1, inplace=True) #Tipo de formato de juego. Todos son mazos estándar
df_decks.drop('deck_id', axis=1, inplace=True) #Id del mazo. No es relevante
df_decks.drop('date', axis=1, inplace=True) #Fecha de subida del mazo. No es relevante.
df_decks.drop('user', axis=1, inplace=True) #Usuario del mazo
#df_decks.drop('title', axis=1, inplace=True) #Nombre del mazo del mazo
df_decks.drop('rating', axis=1, inplace=True) #Puntuación del mazo

#Actualizamos el índice de cada registro
df_decks.index = np.arange(0, len(df_decks))

print(df_decks.info())
df_decks.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103891 entries, 0 to 103890
Data columns (total 35 columns):
craft_cost        103891 non-null int64
deck_archetype    103891 non-null object
deck_class        103891 non-null object
deck_set          103891 non-null object
title             103890 non-null object
card_0            103891 non-null int64
card_1            103891 non-null int64
card_2            103891 non-null int64
card_3            103891 non-null int64
card_4            103891 non-null int64
card_5            103891 non-null int64
card_6            103891 non-null int64
card_7            103891 non-null int64
card_8            103891 non-null int64
card_9            103891 non-null int64
card_10           103891 non-null int64
card_11           103891 non-null int64
card_12           103891 non-null int64
card_13           103891 non-null int64
card_14           103891 non-null int64
card_15           103891 non-null int64
card_16           103891 non-null int64
card_17           103891 non-null int64
card_18           103891 non-null int64
card_19           103891 non-null int64
card_20           103891 non-null int64
card_21           103891 non-null int64
card_22           103891 non-null int64
card_23           103891 non-null int64
card_24           103891 non-null int64
card_25           103891 non-null int64
card_26           103891 non-null int64
card_27           103891 non-null int64
card_28           103891 non-null int64
card_29           103891 non-null int64
dtypes: int64(31), object(4)
memory usage: 28.5+ MB
None

,craft_cost,deck_archetype,deck_class,deck_set,title,card_0,card_1,card_2,card_3,card_4,...,card_20,card_21,card_22,card_23,card_24,card_25,card_26,card_27,card_28,card_29
0,0,Unknown,Mage,Explorers,Beginners Spelldamage Mage,77,77,90,90,175,...,662,662,672,672,906,906,1004,1004,1084,1084
1,5180,Unknown,Rogue,Explorers,Weazelbuster's Storm Rogue (Standard),180,180,365,365,459,...,1029,1064,1117,1117,1158,1158,268,556,2884,2884
2,6260,Unknown,Druid,Explorers,Ramp Druid,64,64,95,137,137,...,2598,2598,2736,2782,2782,2919,38113,38113,38319,38319
3,7980,Fatigue Mage,Mage,Explorers,K-DOG's Malygos Fatigue Mage: Wrecker of Contr...,138,138,172,172,395,...,1016,2262,2874,2875,2901,2901,2949,36111,39225,39840
4,1480,Mill Rogue,Rogue,Explorers,Mill Rogue Revived! (K-DOG),180,180,196,196,365,...,2291,2304,2304,2704,2883,2949,2951,38578,39313,39491

In [7]:
#Hay algunas cartas cuyo nombre coincide con algunas cartas de aventuras, que accidentalmente heredaron el ID de las no coleccio-
#nales, por lo que debemos buscarlas y reemplazarlas con sus verdaderos IDs

def replace_ambiguities():
    print('Processing',len(df_decks))
    for i in range(len(df_decks)):
    #for i in range(3):
        deckRow = (df_decks.iloc[[i]].values.tolist())[0]
        #print(deckRow)
        if i % 1000 == 0:
            print('Indexing', i)
        for h in range(30):
            cardRow = (df_cards[df_cards.id == deckRow[h+5]].values.tolist())[0][1:6]
            if cardRow[0] != True:
                print('In', i+1,'we found',cardRow)
                listCoincidence = (df_cards[(df_cards.name == cardRow[4]) & (df_cards.collectible == True)].values.tolist())[0][3]
                #Reemplazar en todo el dataframe
                for k in range(30):
                    column = 'card_' + str(k)
                    df_decks[column] = df_decks[column].replace(cardRow[2], listCoincidence)
                deckRow = (df_decks.iloc[[i]].values.tolist())[0]
                print('Coincidence with',listCoincidence)

%time replace_ambiguities()

Processing 103891
Indexing 0
In 3 we found [False, 0, 137, nan, 'Wrath']
Coincidence with 836
In 3 we found [False, 0, 38113, nan, 'Raven Idol']
Coincidence with 13335
In 3 we found [False, 5, 38319, ['CHARGE', 'TAUNT'], 'Druid of the Claw']
Coincidence with 692
In 8 we found [False, 10, 41609, ['TAUNT', 'InvisibleDeathrattle'], 'Nefarian']
Coincidence with 2261
In 13 we found [False, 0, 1161, nan, 'Starfall']
Coincidence with 86
In 58 we found [False, 1, 40402, nan, 'Evolve']
Coincidence with 38266
In 79 we found [False, 0, 468, nan, 'Mark of Nature']
Coincidence with 151
In 195 we found [False, 3, 2310, nan, 'Druid of the Flame']
Coincidence with 2292
In 259 we found [False, 0, 38653, nan, 'Wisp']
Coincidence with 179
In 481 we found [False, 0, 40341, nan, 'Cleave']
Coincidence with 940
Indexing 1000
Indexing 2000
Indexing 3000
Indexing 4000
Indexing 5000
In 5390 we found [False, 5, 42146, ['BATTLECRY'], 'Doppelgangster']
Coincidence with 40953
Indexing 6000
Indexing 7000
Indexing 8000
Indexing 9000
Indexing 10000
In 10836 we found [False, 0, 41409, nan, 'Jade Idol']
Coincidence with 40372
Indexing 11000
Indexing 12000
Indexing 13000
Indexing 14000
Indexing 15000
Indexing 16000
Indexing 17000
Indexing 18000
Indexing 19000
Indexing 20000
Indexing 21000
Indexing 22000
Indexing 23000
Indexing 24000
Indexing 25000
Indexing 26000
Indexing 27000
Indexing 28000
Indexing 29000
Indexing 30000
Indexing 31000
Indexing 32000
Indexing 33000
Indexing 34000
Indexing 35000
Indexing 36000
Indexing 37000
Indexing 38000
Indexing 39000
Indexing 40000
Indexing 41000
Indexing 42000
Indexing 43000
Indexing 44000
Indexing 45000
Indexing 46000
Indexing 47000
Indexing 48000
Indexing 49000
Indexing 50000
Indexing 51000
Indexing 52000
Indexing 53000
Indexing 54000
Indexing 55000
Indexing 56000
Indexing 57000
Indexing 58000
Indexing 59000
Indexing 60000
Indexing 61000
Indexing 62000
Indexing 63000
Indexing 64000
Indexing 65000
Indexing 66000
Indexing 67000
Indexing 68000
Indexing 69000
Indexing 70000
Indexing 71000
Indexing 72000
Indexing 73000
Indexing 74000
Indexing 75000
Indexing 76000
Indexing 77000
Indexing 78000
Indexing 79000
Indexing 80000
Indexing 81000
Indexing 82000
Indexing 83000
Indexing 84000
Indexing 85000
Indexing 86000
Indexing 87000
Indexing 88000
Indexing 89000
Indexing 90000
Indexing 91000
Indexing 92000
Indexing 93000
Indexing 94000
Indexing 95000
Indexing 96000
Indexing 97000
Indexing 98000
Indexing 99000
Indexing 100000
Indexing 101000
Indexing 102000
Indexing 103000
Wall time: 27min 41s

In [8]:
#Archeotypes generalization and filter
df_decks['deck_archetype'] = df_decks['deck_archetype'].str.replace(r"Druid|Hunter|Mage|Paladin|Priest|Rogue|Shaman|Warrior|Warlock|Pally|adin|lock|Worgen", "").str.strip()
df_decks['deck_archetype'].value_counts()

Unknown          23274
Control           9751
Midrange          8277
Reno              7929
N'Zoth            6220
Dragon            5423
C'Thun            4008
Tempo             3710
Aggro             3451
Jade Lotus        3213
Miracle           2899
Ramp              2844
Yogg              2507
Zoo               2337
Pirate            1843
Murloc            1653
Beast             1514
Secrets           1486
Freeze            1375
Malygos           1229
Discard           1148
Hand               895
Patron             742
Fatigue            686
Resurrect          653
Secret             644
Mill               598
Token              578
Face               561
Totem              514
Demon              453
OTK                447
Shadow             439
Maly               170
Astral             155
Mur                 86
Silence             77
Randuin Wrynn       46
Water               23
Edit                23
Oil                  6
Mech                 4
Name: deck_archetype, dtype: int64

In [9]:
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Reno','Control').replace('Demon','Control')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Dragon','Control').replace('Water','Combo')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Miracle','Combo').replace('OTK','Combo')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Ramp','Tempo').replace('Oil','Combo')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Yogg','Tempo').replace('Maly','Combo')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Zoo','Token').replace('Astral','Control')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Pirate','Aggro').replace('Mur','Aggro')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Murloc','Token').replace('Silence','Combo')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Beast','Midrange').replace('Randuin Wrynn','Combo')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Secrets','Tempo').replace('Totem','Token')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Freeze','Tempo').replace('Jade Lotus','Midrange')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Malygos','Combo').replace('Shadow','Control')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Discard','Midrange').replace('Edit','Unknown')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Hand','Control').replace('Mech','Tempo')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Fatigue','Control').replace('Mech','Tempo')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Resurrect','Control').replace('N\'Zoth','Control')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Secret','Tempo').replace('C\'Thun','Control')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Mill','Tempo').replace('Token','Midrange')
df_decks['deck_archetype'] = df_decks['deck_archetype'].replace('Face','Aggro').replace('Patron','Control')
df_decks.drop('title', axis=1, inplace=True)

df_decks.head()
df_decks['deck_archetype'].value_counts()

Control     37354
Unknown     23297
Midrange    19234
Tempo       13168
Aggro        5941
Combo        4897
Name: deck_archetype, dtype: int64

In [10]:
#Esto se hace al final
#Sólo nos interesan las cartas jugables (no las que aparecen en los créditos o las disponibles sólo en modo aventura)
df_cards = df_cards[df_cards.collectible == True]
df_cards.drop('collectible', axis=1, inplace=True) #Bandera que define si la carta es coleccionable. Se sobreentiende

In [11]:
df_cards.head()

,cardClass,cost,id,mechanics,name,playerClass,race,rarity,set,type
0,NEUTRAL,4,2518,NaN,Crowd Favorite,NEUTRAL,NaN,EPIC,TGT,MINION
3,WARRIOR,3,40569,[BATTLECRY],Grimestreet Pawnbroker,WARRIOR,NaN,RARE,GANGS,MINION
4,NEUTRAL,4,1370,NaN,Oasis Snapjaw,NEUTRAL,BEAST,FREE,CORE,MINION
9,PRIEST,3,1363,NaN,Shadow Word: Death,PRIEST,NaN,FREE,CORE,SPELL
10,NEUTRAL,3,2579,"[DIVINE_SHIELD, STEALTH]",Silent Knight,NEUTRAL,NaN,COMMON,TGT,MINION

In [12]:
df_decks.head()

,craft_cost,deck_archetype,deck_class,deck_set,card_0,card_1,card_2,card_3,card_4,card_5,...,card_20,card_21,card_22,card_23,card_24,card_25,card_26,card_27,card_28,card_29
0,0,Unknown,Mage,Explorers,77,77,90,90,175,175,...,662,662,672,672,906,906,1004,1004,1084,1084
1,5180,Unknown,Rogue,Explorers,180,180,365,365,459,459,...,1029,1064,1117,1117,1158,1158,268,556,2884,2884
2,6260,Unknown,Druid,Explorers,64,64,95,836,836,254,...,2598,2598,2736,2782,2782,2919,13335,13335,692,692
3,7980,Control,Mage,Explorers,138,138,172,172,395,395,...,1016,2262,2874,2875,2901,2901,2949,36111,39225,39840
4,1480,Tempo,Rogue,Explorers,180,180,196,196,365,365,...,2291,2304,2304,2704,2883,2949,2951,38578,39313,39491

In [13]:
#Copying the dataframes as a checkpoint
df2_cards = df_cards
df2_decks = df_decks

In [14]:
def statics_deck(test):
    minion, spell, weapon, hero, avgDeck = 0,0,0,0,0
    #print(test)
    for h in range(30):
        #print(test[h+4])
        cardRow = (df2_cards[df2_cards.id == test[h+4]].values.tolist())[0]
        #print(cardRow)
        avgDeck += cardRow[1]
        if cardRow[9] == 'MINION':
            minion += 1
        elif cardRow[9] == 'SPELL':
            spell += 1
        elif cardRow[9] == 'WEAPON':
            weapon += 1
        elif cardRow[9] == 'HERO':
            hero += 1
    avgDeck = float(avgDeck)
    avgDeck /= 30
    return minion, spell, weapon, hero, avgDeck

In [15]:
arrM, arrS, arrW, arrH, arrAvg = [],[],[],[],[]

def general_statics():
    for i in range(len(df2_decks)):
    #for i in range(100):
    #for i in range(2):
        #if i % 500 == 0:
        #    print('Indexing',i)
        #Set as integer
        prueba = (df2_decks.iloc[[i]].values.tolist())[0]
        #print(prueba)
        prueba[0] = int(prueba[0])
        for j in range(30):
            prueba[j+4] = int(prueba[j+4])
        contMin, contSpell, contWeap, contHero, avg = statics_deck(prueba)
        #print(contMin, contSpell, contWeap, contHero, avg)
        arrM.append(contMin)
        arrS.append(contSpell)
        arrW.append(contWeap)
        arrH.append(contHero)
        arrAvg.append(avg)

%time general_statics()

Wall time: 28min 21s

In [18]:
#NO TOCAR HASTA PREVIO AVISO

#df2_decks['avg_mana'] = arrAvg
#df2_decks['nminions'] = arrM
#df2_decks['nspells'] = arrS
#df2_decks['nweapons'] = arrW
df2_decks['nheroes'] = arrH

print(df2_decks.info())
df2_decks.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103891 entries, 0 to 103890
Data columns (total 39 columns):
craft_cost        103891 non-null int64
deck_archetype    103891 non-null object
deck_class        103891 non-null object
deck_set          103891 non-null object
card_0            103891 non-null int64
card_1            103891 non-null int64
card_2            103891 non-null int64
card_3            103891 non-null int64
card_4            103891 non-null int64
card_5            103891 non-null int64
card_6            103891 non-null int64
card_7            103891 non-null int64
card_8            103891 non-null int64
card_9            103891 non-null int64
card_10           103891 non-null int64
card_11           103891 non-null int64
card_12           103891 non-null int64
card_13           103891 non-null int64
card_14           103891 non-null int64
card_15           103891 non-null int64
card_16           103891 non-null int64
card_17           103891 non-null int64
card_18           103891 non-null int64
card_19           103891 non-null int64
card_20           103891 non-null int64
card_21           103891 non-null int64
card_22           103891 non-null int64
card_23           103891 non-null int64
card_24           103891 non-null int64
card_25           103891 non-null int64
card_26           103891 non-null int64
card_27           103891 non-null int64
card_28           103891 non-null int64
card_29           103891 non-null int64
avg_mana          103891 non-null float64
nminions          103891 non-null int64
nspells           103891 non-null int64
nweapons          103891 non-null int64
nheroes           103891 non-null int64
dtypes: float64(1), int64(35), object(3)
memory usage: 31.7+ MB
None

,craft_cost,deck_archetype,deck_class,deck_set,card_0,card_1,card_2,card_3,card_4,card_5,...,card_25,card_26,card_27,card_28,card_29,avg_mana,nminions,nspells,nweapons,nheroes
0,0,Unknown,Mage,Explorers,77,77,90,90,175,175,...,906,1004,1004,1084,1084,3.066667,12,18,0,0
1,5180,Unknown,Rogue,Explorers,180,180,365,365,459,459,...,1158,268,556,2884,2884,2.600000,12,18,0,0
2,6260,Unknown,Druid,Explorers,64,64,95,836,836,254,...,2919,13335,13335,692,692,3.900000,18,12,0,0
3,7980,Control,Mage,Explorers,138,138,172,172,395,395,...,2901,2949,36111,39225,39840,3.733333,15,15,0,0
4,1480,Tempo,Rogue,Explorers,180,180,196,196,365,365,...,2949,2951,38578,39313,39491,2.600000,12,18,0,0

In [19]:
#Checkpoint approved
df_cards = df2_cards
df_decks = df2_decks
#2nd. Checkpoint